@tailwind base;
@tailwind components;
@tailwind utilities;


.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-blue-brand{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,23,77,1) 35%, rgba(8,18,91,1) 100%);
}

.test {
  background: linear-gradient(90deg, rgba(246,0,255,1) 0%, rgba(23,172,255,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* Para navegadores WebKit (Chrome, Safari, etc.) */
/* Cambiar el color del scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Ancho del scrollbar */
  height: 8px; /* Ancho del scrollbar */
  background-color: transparent; /* Color de fondo del scrollbar */
}

/* Cambiar el color del thumb (el botón que puedes arrastrar) */
::-webkit-scrollbar-thumb {
  background-color: rgb(58, 58, 58); /* Color del thumb */
  border-radius: 10px; /* Redondear los bordes del thumb */
}

/* Cambiar el color de la pista (el área sobre la cual se desplaza el thumb) */
::-webkit-scrollbar-track {
  background-color: rgb(26, 26, 26); /* Color de fondo de la pista */
}