@tailwind base;
@tailwind components;
@tailwind utilities;


.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-blue-brand{
  background-color: #111327;
}
